{% extends 'base.html' %}
{% block content %}


<h1 style="text-align:center">Add stock </h1>

<form class="d-flex" action="{% url 'stock_data' %}" method="POST"> {% csrf_token %}
    <input class="form-control me-2" style="width:89%;text-align:center" type="search" placeholder="Add to Portfolio" aria-label="Search" name="ticker">
    <button class="btn btn-info" type="submit">Add Stock</button>
  </form>

  <br/><br/>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">Stock Price</th>
        <th scope="col">Previous Close</th>
        <th scope="col">Market Cap</th>
        <th scope="col">YTD Change</th>
        <th scope="col">52wks High</th>
        <th scope="col">52wks low</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        {% for item,outpt in mylist %}
        

        <th scope="row">{{item.companyName}} </th>
        <td>{{item.latestPrice}}</td>
        <td>{{item.previousClose}}</td>
        <td>{{item.marketCap}}</td>
        <td>{{item.ytdChange}}</td>
        <td>{{item.week52High}}</td>
        <td>{{item.week52Low}}</td>
        <td><a href="{% url 'stock_delete' outpt.id %}"><button type="button" class="btn btn-danger" >Delete</button></a></td>
        
      </tr>
      {% endfor %}
    
    </tbody>
  </table> 

{% endblock  %}
